[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/forge-gas-snapshot"]
	path = lib/forge-gas-snapshot
	url = https://github.com/marktoda/forge-gas-snapshot
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "prb-test"]
	path = prb-test
	url = https://github.com/paulrberg/prb-test
[submodule "lib/prb-test"]
	path = lib/prb-test
	url = https://github.com/paulrberg/prb-test
