[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/forge-gas-snapshot"]
	path = lib/forge-gas-snapshot
	url = https://github.com/marktoda/forge-gas-snapshot
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "prb-test"]
	path = prb-test
	url = https://github.com/paulrberg/prb-test
[submodule "lib/prb-test"]
	path = lib/prb-test
	url = https://github.com/paulrberg/prb-test
[submodule "lib/zodiac"]
	path = lib/zodiac
	url = https://github.com/gnosis/zodiac
	branch = v2.0.4
[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
	branch = v1.3.0
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
	branch = v4.8.0
[submodule "lib/otterspace-contracts"]
	path = lib/otterspace-contracts
	url = https://github.com/otterspace-xyz/otterspace-contracts
[submodule "lib/ERC4973"]
	path = lib/ERC4973
	url = https://github.com/otterspace-xyz/ERC4973
